.home-container {
  margin-top: 90px;
  position:relative; 
}

/* CONTAINER FOR CATEGORIES */
.category-container {
  position: sticky;
  top: 0;
  height: 50px;
  max-width: 100%;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  align-items:center;

  overflow: hidden;
  color: #fff;
  background-color: #f6931c;
  box-shadow: 0px 1px 10px 0px rgb(37, 37, 37);
  padding: 0 200px ;
}

/* CATEGORY SECTION HEADER */
/* .category-container h3 {
  margin-bottom: 15px;
  padding: 15px 15px 15px 20px;
  width: 100%;
  font-size: 1.5rem;
  font-style: italic;
  color: #36e9f0;
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 5px 54px 0px #252525;
} */

/* INDIVIDUAL CATEGORY ITEM */
.category {
  font-size: 1.5rem;
  width: 100%;
  transition: 0.25s;
  text-align: center;
}

.category:hover {
  color: #06b8bf;
  cursor: pointer;
  font-weight: bold;
  transform: translateX(10px);
}

.category:active {
  color: #06b8bf;
  transform: translateX(3px);
  transition: transform 0.1s ease-in-out;
}

/* ======================= PRODUCT CARDS ======================*/
/* ProductCard.css for Each Product Card */
/* ============================================================ */

.prod-home-format .profile-products {
  position: relative; /* Ensure a stacking context for z-index to work */
}

.prod-home-format .profile-products {
  width: 300px;
  height: 350px;
  z-index: 1; /* Set a lower z-index than category-container */
}

.cart-btn {
  transition: 0.1s ease-out;
  color: #fff;
  cursor: pointer;
}

.cart-btn:hover {
  color: #dd861c;
  cursor: pointer;
  font-size: 1.2em;
}

.cart-btn:active {
  color: #606c88;
}
/* =========================== Media Queries ========================== */

/* Tablets */
@media screen and (max-width: 992px) {
  .home-container {
    margin-top: 0;
  }

  .category-container {
    position: sticky;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #f6931c;

    z-index: 3 ;
  }


  .category {
    font-size: 1.2rem;
    width: auto;
    transition: 0.25s;
  }

  .category:hover {
    cursor: pointer;
    transform: translateY(3px);
  }

.category:active {
  color: #06b8bf;
  transform: translateX(3px);
  transition: transform 0.1s ease-in-out;
}

  .prod-home-format .profile-products {
    width: 250px;
    height: 300px;
  }
}
