/* main {
  margin: 40px 0;
  padding: 30px 30px;
  border-radius: 20px;
  border: 1.5px solid transparent;
  z-index: 1;
} */

.pulse-animation {
  animation: borderLoop 4s linear infinite;
}

@keyframes borderLoop {
  0% {
    border-color: #fff;
  }
  25% {
    border-color: #404040;
  }
  50% {
    border-color: #bfbfbf86;
  }
  75% {
    border-color: #404040;
  }
  100% {
    border-color: #fff;
  }
}
