/* USER PROFILE CONTAINER */
.profile-container {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* USER ICON */
.profile-icon {
  font-size: 5em;
}

/* ======================= PRODUCT CARDS ======================*/
/* ProductCard.css for Each Product Card */
/* ============================================================ */

/* UPDATE AND DELETE BUTTONS */
.delete-icon {
  transition: 0.3s ease-in-out;
}

.update-icon {
  transition: 0.3s ease-in-out;
}

.delete-icon:hover {
  color: #b61717;
  font-size: 1.2em;
  cursor: pointer;
}

.update-icon:hover {
  color: #2f9c0e;
  font-size: 1.2em;
  cursor: pointer;
}

.update-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-align: start;
}

.update-product input {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #bfbfbf;
}

.update-product label {
  font-weight: bold;
}