.profile-section {
  border: solid 4px #eb0b0b;

}

/* USER PROFILE CONTAINER */
.profile-container {
  margin: 20px 10px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(77, 77, 77);
  border-radius: 20px;
  box-shadow: 0px 1px 10px 0px rgb(0, 0, 0);
}

/* USER TOP SECTION */
.profile-top {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* USER ICON */
.profile-icon {
  font-size: 5em;
  color: #fff;
  filter: drop-shadow(0px 0px 5px rgb(52, 67, 73));
}

/* USER NAME */
.profile-container h3 {
  margin: 10px 0;
  font-size: 1.2em;
  color: #fff;
}

/* WELCOME MESSAGE */
.profile-container span {
  font-size: 0.6em;
  font-style: italic;
  color:#6d6d6d;
}





/* ======================= PRODUCT CARDS ======================*/
/* ProductCard.css for Each Product Card */
/* ============================================================ */

/* UPDATE AND DELETE BUTTONS */
.delete-icon {
  transition: 0.3s ease-in-out;
}

.update-icon {
  transition: 0.3s ease-in-out;
}

.delete-icon:hover {
  color: #b61717;
  font-size: 1.2em;
  cursor: pointer;
}

.update-icon:hover {
  color: #2f9c0e;
  font-size: 1.2em;
  cursor: pointer;
}

.update-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-align: start;
}

.update-product input {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #bfbfbf;
}

.update-product label {
  font-weight: bold;
}